@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-table-tbody{
  text-align: center !important;
}


.ant-table-cell{
  text-align: center !important;
}

.ant-table-cell::before {
  background-color: transparent !important;
}

.rtlModal {
  direction: rtl;
}

.ltr{
  direction: ltr;
  text-align: center;
}

